
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #dbeafe;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
}
.login-box {
    background-color: white;
    padding: 35px;
    width: 330px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 10px gray;
}
.login-box h2 {
    margin-bottom: 20px;
}
.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;

    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}
.login-box button {
    width: 107%;
    padding: 15px;

    border: 1px;
    border-radius: 20px;

    background-color:aquamarine;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.login-box button:hover {
    background-color:blue;
}
